h1 {
  margin: 0;
}
a{
  text-decoration: none;
  padding: 15px 17px;
}
a:hover{
  cursor: pointer;
  opacity: 100%!important;
}

.header{
  text-align: center;
  background-color: #66ccff;
}
.top-nav{
  background-color: darkgray;
  width: 100%;
  display: flex;
}
.content{
   display: flex;
}
.side{
  width: 25%;
}
.threefourth{
  width: 75%;
}
.panel{
  text-align: center;
  height: inherit;
  background-color: #009999;
}
.main-panel{
  text-align: center;
  height: inherit;
  background-color: #d9d9d9;

}

.top-nav a{
  background-color: gray;
  color: white;
  opacity: 75%;
}
