body{
  background-color: lightslategray;
}
.paper{
  box-shadow: 0 0 10px black;
  width: 800px;
  height: 1100px;
  background-color: #ffffff;
  margin: 10% 20% 0 20%
}
.header{
  text-align: center;
}
.content{
  margin: 0 10% 0 10%;
}
