/* CSS PAGE FOR THE MAIN PAGE */
body{
  font-family: Arial;
}

img{
  padding: 5px;
  max-width: 100%;
  max-height: auto;
}

a {
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}
/* Header Styles */
.header{
  background: #ddd;
}
/* TopNav Styles */
.topnav{
  font-size: 30px;
  overflow: hidden;
}
.topnav-links a{
  float: left;
}
.topnav a:hover{
  color: #000;
  background-color: #ddd;
}

.dropdown{
  float: right;
  overflow: hidden;
}

.drop-menu{
  position: absolute;
  display: none;
  right: 0;
  border-width: 5px;
  border-color: #ddd;
  border: solid;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
}
.drop-menu a{
  display: block;
  padding: 14px 15px;
  color: #000!important;

}

.drop-btn{
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  border: none;
  padding: 14px 15px;
}

.show{
  display: block;
}

/* Main body styles */
.row{
  display: table;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.half-column{
  float: left;
  padding: 15px;
  width: 50%;
}

.half-column h1{
  text-align: center;
}

.quarter-column{
  float: left;
  padding: 15px;
  width: 25%;
}

.quarter-column h1{
  text-align: center;
}

.filter-column h3{
  text-align: center;
}

.media-center{
  text-align: center;
}


/* Bottom of Page */
.footer{
float: Bottom;
}

.footer a:link, a:visited{
  color: white;
  padding: 14px 25px;
  text-decoration: none;

}
